<!-- Top Search & Bar -->
<div class="explore-header">
  <a routerLink="/" class="back-btn-explore">
    <span class="material-symbols-outlined">arrow_back</span>
  </a>
  <div class="explore-search-bar">
    <span class="material-symbols-outlined search-icon-exp">search</span>
    <input type="text" class="search-input-exp" placeholder="Search for brands, categories or deals...">
  </div>
  <button class="header-action-btn-exp">
    <span class="material-symbols-outlined">favorite</span>
  </button>
  <button class="header-action-btn-exp">
    <span class="material-symbols-outlined">tune</span>
  </button>
</div>